<p-menubar [style]="{'background-color': '#3FDDDC'}" [model]="items">    
  <i class="pi pi-verified mr-6 p-text-secondary" severity="info" pBadge style="font-size: 2rem" [value]="confirmedBadge" (click)="trollFunction()"></i>
</p-menubar>
<br>
<div class="content" role="main">  
  <div id="sidebar">
        <p-card *ngIf="isManagementContext" id="my-card" [style]="{width: '300px', 'margin-left': '5px', 'margin-top': '5px', 'margin-bottom':'30px', 'margin-right':'30px', 'background-color': '#3FDDDC'}" styleClass="p-card-shadow"> 
          <ng-template pTemplate="header">
            <img alt="Card" src="assets/train.ico">
          </ng-template>      
  
          <span class="p-input-icon-left">      
            <i class="pi pi-user"></i>
            <input id="name" type="text" pInputText [(ngModel)]="name" placeholder="Name"/>
          </span>
          <br>
          <span class="p-input-icon-left">      
            <i class="pi pi-whatsapp"></i>
            <input id="phone" type="text" pInputText [(ngModel)]="phone" placeholder="Number"/>
          </span>
      
          <ng-template pTemplate="footer">
            <p-button label="Añadir" icon="pi pi-check" iconPos="left" (click)="add()"></p-button>
          </ng-template> 
        </p-card>
      </div>
      
      <div id="page-wrap">      
        <p-table [value]="usersShown" [scrollable]="true" scrollHeight="600px">
          <ng-template pTemplate="header">
              <tr>
                  <th [style]="{'background-color': '#3FDDDC'}">Name</th>
                  <th [style]="{'background-color': '#3FDDDC'}">Phone</th>
                  <th [style]="{'background-color': '#3FDDDC'}">Confirmed</th>
                  <th [style]="{'background-color': '#3FDDDC'}">Delete</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-person>
              <tr [style]="{'background-color': '#d4f1ff'}"> 
                  <td>{{person.name}}</td>
                  <td>{{person.number}}</td>
                  <td>
                    <button *ngIf="person.confirmed" pButton type="button" icon="pi pi-check" class="p-button-text" disabled="true"></button>
                    <button *ngIf="!person.confirmed" pButton type="button" icon="pi pi-times" class="p-button-warning p-button-text" disabled="true"></button>                    
                  </td>
                  <td>                    
                    <button pButton pRipple icon="pi pi-trash" class="p-button-danger p-button-text" (click)="deleteProduct(person)"></button>
                </td>
              </tr>
          </ng-template>
      </p-table>
      <img *ngIf="trollBoolean" alt="Card" src="assets/tibu.png">
    </div>  
  <p-toast position="bottom-center"></p-toast>
  
</div>


<router-outlet></router-outlet>
